[user]
    name = Jorge Hervás Vigueras
    email = jordihv@gmail.com
[url "https://johgh@github.com"]
    insteadOf = https://github.com
[core]
    editor = vim
    # global .gitignore file
    excludesfile = ~/.gitignore
[color]
    ui = auto
[credential]
    ; helper = /usr/share/doc/git/contrib/credential/gnome-keyring/git-credential-gnome-keyring
[gui]
    historybrowser = gitg
[push]
    default = matching


### ALIAS #########################################
[alias]
    # -d opens meld in directory mode (if meld is used as difftool)
    d = difftool -d
    m = mergetool
    s = status
    c = commit
    p = push
    r = "!git fetch; git rebase --autostash FETCH_HEAD"
    # commit adding previously all files except deleted ones
    ca = commit -a
    co = checkout
    # add all project files (including deleted ones)
    a = add -A :/
    # show oneliner colorful log with branch graph
    l = log --pretty=format:'%C(red)%h  %C(reset)%ad %C(green)%d %C(cyan)%an %C(white)%s' --all --graph --date=local
    # show log with patches (for viewing diff history). File parameter is optional
    lp = log -p
    # show log with patches, follows file even if its renamed, file parameter is mandatory
    lf = log --follow -p

### DIFF ##########################################
[diff]
    # tool = gvimdiff
    tool = meld
[difftool]
    prompt = false

### MERGE #########################################
[merge]
    # use meld to resolve conflicts
    tool = meld
    # tool = fugitive
    # force merge commits instead of doing fast-forward merge
    ff = false
[mergetool]
    prompt = false
    # remove .orig files
    keepBackup = false
# [mergetool "fugitive"]
#     cmd = gvim -f -c \"Gdiff\" \"$MERGED\"


### REBASE ########################################
[branch]
    # force rebase when pulling always on new branches
    autosetuprebase = always
[branch "master"]
    # force rebase when pulling on master
    rebase = yes
