[user]
	name = jorge
	email = jhervas@direla.com
[core]
	editor = vim
[merge]
	tool = fugitive
[diff]
	tool = vimdiff
[push]
	default = matching
[gui]
	historybrowser = gitg
[color]
	ui = auto
[difftool]
	prompt = false
[mergetool]
	prompt = false
[mergetool "fugitive"]
	cmd = vim -f -c \"Gdiff\" \"$MERGED\"
[alias]
	d = difftool
	m = mergetool
    c = commit -m
    p = !~/bin/push
    a = add . --all
    s = status
    l = log
[push]
	default = matching
[credential]
	helper = cache
